export SLACK_API_TOKEN="xoxb-407277036854-412258633398-JfgVjuYsdhTPGVvEzlqtD4z6"
export REPLE_AI_TOKEN="GXrKdGR9hyRiRLbXprfo92rSsincqSWTT2ZfWS7P"
export REPLE_AI_BOTID="b4ku7su7p7uskl4"
export REPLE_AI_SCENARIO="s4ku7tjw010qoc1"
